:root {
    --color-primary: #FD377E;
    --color-primary-2: #E34981;
    --color-secondary: #03B898;
    --grey-1: #F8F9FA;
    --grey-2: #E9ECEF;
    --grey-3: #868E96;
    --grey-4: #212529;
    --box-shadows: 0rem .625rem .9375rem -0.1875rem rgba(0, 0, 0, 0.1);
  }
  
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
  }
  
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
body, html{
    margin: 0;
    padding: 0;
    background-color: #ffff;
} 
h1, h2, h3, h4, h5, h6, p, small{
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
img{
    max-width: 100%;
}

.container {
  width: 100%;
  max-width: 81.25rem;
  margin: 0 auto;
  padding: 12.8px;
}