.container--main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container--main aside{
  width: 100%;
  max-width: 560px;
} 

.branco{
  background-color: #ffff;
}

.cinza{
  background-color:  #212529;
}

@media (min-width: 728px){
  .container--main{
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 977px;
  }
}
